@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

/* Farbe: #fff / #000 */
/* font-family: 'Work Sans', sans-serif; */

/* RESTART: */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: larishNeue2;
  src: url('./fonts/Larish\ Neue\ Semibold.woff2');
}
@font-face {
  font-family: larishNeue1;
  src: url('./fonts/LarishNeueSemibold.woff');
}

/* DEFAULT: */

a {
  text-decoration: none;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid white;
}

a:hover {
  background-color: #fff;
  color: black;
}

section,
footer {
  padding: 0 5%;
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: larishNeue2;
}

.line {
  width: 1px;
  height: 35vh;
  margin: 0 auto;
  background-color: grey;
  display: block;
}

#hero,
#message,
#numbers {
  min-height: 100vh;
  background-color: #000;
  color: white;
}

#hero {
  text-align: center;
  position: relative;
}

#hero > article {
  padding-top: 5vh;
}

#hero h1,
#hero h2,
#message h1,
#numbers h2,
#bear h2 {
  font-size: 6.5rem;
}

#hero > div {
  position: absolute;
  bottom: 10vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#hero h2 {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

/* MESSAGE: */

#message h1 {
  padding-right: 20%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* NUMBERS: */

#numbers {
  height: 73vh;
}
#numbers p {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

#numbers p:nth-of-type(1) {
  padding-top: 6vh;
}

/* MIDDLE */

#middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: (33vh) [6];
  grid-template-rows: repeat(6, 33vh);
  grid-template-areas:
    'a b c'
    'd e f '
    'g h i'
    'j k l'
    'm n o'
    'p q r';
}

#middle div > img {
  width: 100%;
  height: 100%;
}

.c,
.d {
  position: relative;
  bottom: 10vh;
}

.c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  width: 100%;
  grid-area: c;
}

.d {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  width: 80%;
  height: 80%;
  grid-area: d;
}

.e {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: e;
}

.e h2 {
  font-size: 4rem;
}
.l {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  width: 80%;
  height: 80%;
  grid-area: l;
}

.g {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: g;
  width: 80%;
  height: 80%;
  position: relative;
  top: 5vh;
  left: 200px;
}
.i {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: i;
  position: relative;
  width: 70%;
  height: 70%;
  bottom: 10vh;
  left: 200px;
}
.m {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: m;
  width: 70%;
  height: 70%;
  position: relative;
  right: 70px;
}
.n {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: n;
}
.r {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: r;
  position: relative;
  top: 100px;
  right: 100px;
}

/* GOLDEN-BEAR */

#bear {
  padding-top: 1rem;
  background-color: #000;
  color: white;
}

.golden-bear-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7vh 0 15vh 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.golden-bear-h p {
  font-size: 2rem;
  padding: 0 12%;
  font-weight: bolder;
}
.golden-bear-h div:nth-of-type(1) {
  width: 40%;
}

.golden-bear-h div:nth-of-type(2) {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.golden-bear-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 150px;
}
.golden-bear-img > div:nth-of-type(1) {
  width: 80%;
  height: 80vh;
}

.golden-bear-img > div:nth-of-type(2) {
  width: 30%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  right: 50px;
}

.golden-bear-img > div img {
  width: 100%;
  height: 100%;
}
.golden-bear-img > div:nth-of-type(2) > div {
  width: 100%;
  height: 70%;
}

/* POPPY */

#poppy {
  padding-bottom: 30vh;
  overflow: hidden;
}

#poppy h2 {
  font-size: 6.5rem;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.poppy-b2 {
  left: 50px;
  position: relative;
}

.circle > div {
  width: 400px;
  height: 400px;
  margin-left: 85%;
  position: relative;
  bottom: 80px;
  -webkit-animation: rotate 8s infinite linear;
  animation: rotate 8s infinite linear;
}

.circle > div img {
  width: 400px;
  height: 400px;
}

/* END */

#end {
  padding-top: 20vh;
  min-height: 80vh;
  background-color: #000;
  color: white;
  position: relative;
  overflow: hidden;
}

#end article:nth-of-type(1) {
  width: 50%;
}

#end h3 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  padding-right: 10%;
  margin-bottom: 30px;
}

.date-an > div {
  background-color: whitesmoke;
}

.date-an h2 {
  font-size: 5.5rem;
  background-color: whitesmoke;
  color: black;
  position: relative;
  -webkit-animation: move 7s infinite linear;
  animation: move 7s infinite linear;
}

.date-an span {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.date-an {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  width: 100%;
  top: 20%;
  left: 20%;
}

/* FOTER */
footer {
  background-color: #000;
  color: white;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-de {
  margin: 10px 0;
}

.social img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.footer-img,
.date-an {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-img img {
  display: inline-block;
  width: 100px;
  height: 40px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes move {
  0% {
    left: 0%;
  }
  25% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 75%;
  }
  100% {
    left: 100%;
  }
}

@keyframes move {
  0% {
    left: 0%;
  }
  25% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 75%;
  }
  100% {
    left: 100%;
  }
}

/* BREAKPOINTS: */

@media screen and (max-width: 1200px) {
  #message h1 {
    font-size: 5rem;
    padding-right: 10%;
    padding-bottom: 0;
  }

  .i {
    left: 150px;
  }

  .m {
    right: 50px;
  }

  .r {
    top: 50px;
  }
  .circle > div {
    margin-left: 80%;
  }
  #end article:nth-of-type(1) {
    width: 60%;
  }
  footer {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 1024px) {
  #message {
    min-height: 80vh;
  }

  #message h1 {
    font-size: 5rem;
    padding-right: 10%;
    padding-bottom: 0;
  }
  .c {
    height: 90%;
  }
  .e h2 {
    font-size: 3rem;
  }
  .i {
    left: 120px;
  }
  .m {
    right: 30px;
  }
  .r {
    height: 90%;
  }
  .golden-bear-img > div:nth-of-type(1) {
    width: 70%;
    height: 70vh;
  }
  .golden-bear-img > div:nth-of-type(2) {
    width: 30%;
    height: 70vh;
  }
  .golden-bear-img > div:nth-of-type(2) > div {
    width: 100%;
    height: 60%;
  }

  .date-an h2 {
    font-size: 4rem;
  }
  #bear h2,
  #poppy h2 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 768px) {
  #hero h1,
  #hero h2,
  #message h1 {
    font-size: 4rem;
  }

  #numbers h2 {
    font-size: 5rem;
  }
  #numbers p {
    padding: 1.5rem 0;
  }
  #middle {
    display: block;
  }
  #middle div {
    width: 100%;
    position: static;
  }
  .e {
    margin: 10vh 0;
  }
  .e p {
    font-size: 1.2rem;
    margin-top: 15px;
  }
  .n {
    margin: 10vh 0;
    font-size: 1.2rem;
  }
  #bear h2,
  #poppy h2 {
    font-size: 3.5rem;
  }
  #bear p,
  #poppy p {
    font-size: 1.3rem;
  }
  .golden-bear-img > div:nth-of-type(1) {
    width: 60%;
    height: 50vh;
  }
  .golden-bear-img > div:nth-of-type(2) {
    width: 30%;
    height: 50vh;
  }

  .circle > div {
    margin-left: 70%;
  }

  #end article:nth-of-type(1) {
    width: 85%;
  }

  #end h3 {
    font-size: 1.8rem;
  }
  .date-an {
    top: 10%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
  }
  .date-an h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  #hero h1,
  #hero h2,
  #message h1 {
    font-size: 3rem;
  }

  #hero > div {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  #numbers h2 {
    font-size: 4rem;
  }
  #numbers {
    min-height: 80vh;
    margin-bottom: 4px;
  }
  .golden-bear-h {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #bear .golden-bear-h div,
  #poppy .golden-bear-h div {
    width: 100%;
  }
  #bear .golden-bear-h div:nth-of-type(1),
  #poppy .golden-bear-h div:nth-of-type(1) {
    text-align: center;
    margin-bottom: 30px;
  }

  .golden-bear-img > div:nth-of-type(1) {
    width: 50%;
    height: 40vh;
  }
  .golden-bear-img > div:nth-of-type(2) {
    width: 30%;
    height: 40vh;
  }

  .circle > div {
    margin-left: 70%;
  }
  #end h3 {
    font-size: 1.5rem;
  }
  .date-an h2 {
    font-size: 2rem;
  }
  .footer-img img {
    display: inline-block;
    width: 80px;
    height: 30px;
  }
  .footer-de {
    font-size: 0.8rem;
  }
}
