@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");

/* Farbe: #fff / #000 */
/* font-family: 'Work Sans', sans-serif; */

/* RESTART: */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: larishNeue2;
  src: url("./fonts/Larish\ Neue\ Semibold.woff2");
}
@font-face {
  font-family: larishNeue1;
  src: url("./fonts/LarishNeueSemibold.woff");
}

/* DEFAULT: */

a {
  text-decoration: none;
}

section {
  padding: 0 5%;
  font-family: "Work Sans", sans-serif;
}

h1,
h2 {
  font-family: larishNeue2;
}

html {
  max-width: 1440px;
  margin: 0 auto;
}

#hero,
#message,
#numbers {
  height: 100vh;
  background-color: #000;
  color: white;
}

#hero {
  text-align: center;
  position: relative;
}

#hero > article {
  width: 60%;
  margin: 0 auto;
  padding-top: 40vh;
}

#hero h1,
#hero h2,
#message h1,
#numbers h2,
#bear h2 {
  font-size: 6.5rem;
}

#hero > div {
  position: absolute;
  bottom: 10vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#hero a {
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid white;
}

#hero h2 {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

/* MESSAGE: */

#message h1 {
  width: 89%;
  padding-top: 10vh;
  margin-bottom: 10vh;
}

/* NUMBERS: */

#numbers {
  height: 73vh;
}
#numbers p {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

#numbers p:nth-of-type(1) {
  padding-top: 6vh;
}

/* MIDDLE */

#middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 33vh);
  grid-template-areas:
    "a b c"
    "d e f "
    "g h i"
    "j k l"
    "m n o"
    "p q r";
}

#middle div > img {
  width: 100%;
  height: 100%;
}

.c,
.d {
  position: relative;
  bottom: 10vh;
}

.c {
  width: 100%;
  grid-area: c;
}

.d {
  width: 80%;
  height: 80%;
  grid-area: d;
}

.e {
  grid-area: e;
}

.e h2 {
  font-size: 4rem;
}
.l {
  width: 80%;
  height: 80%;
  grid-area: l;
}

.g {
  grid-area: g;
  width: 80%;
  height: 80%;
  position: relative;
  top: 5vh;
  left: 200px;
}
.i {
  grid-area: i;
  position: relative;
  width: 70%;
  height: 70%;
  bottom: 10vh;
  left: 200px;
}
.m {
  grid-area: m;
  width: 70%;
  height: 70%;
  position: relative;
  right: 70px;
}
.n {
  grid-area: n;
}
.r {
  grid-area: r;
  position: relative;
  top: 100px;
  right: 100px;
}

/* GOLDEN-BEAR */

#bear {
  background-color: #000;
  color: white;
}

.golden-bear-h {
  display: flex;
  padding: 15vh 0;
  justify-content: space-between;
}

.golden-bear-h p {
  font-size: 2rem;
  padding: 0 12%;
  font-weight: bolder;
}
.golden-bear-h div:nth-of-type(1) {
  width: 40%;
}

.golden-bear-h div:nth-of-type(2) {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.golden-bear-img {
  display: flex;
  position: relative;
  top: 150px;
}
.golden-bear-img > div:nth-of-type(1) {
  width: 80%;
  height: 80vh;
}

.golden-bear-img > div:nth-of-type(2) {
  width: 30%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: 50px;
}

.golden-bear-img > div:nth-of-type(1) img {
  width: 100%;
  height: 100%;
}
.golden-bear-img > div:nth-of-type(2) > div {
  width: 100%;
  height: 70%;
}
.golden-bear-img > div:nth-of-type(2) > div img {
  width: 100%;
  height: 100%;
}
/* POPPY */

#poppy h2 {
  font-size: 6.5rem;
}

.reverse {
  flex-direction: row-reverse;
}

.poppy-b2 {
  left: 50px;
  position: relative;
}
